<div class="container">
<div class="box shadow bg-white rounded">
    <div class="box2">
        <img src="{{getData[0].image}}" style="width: 100%;" alt="">
    </div>
    <h1 class="text-center mt-3" style="width: 50%; margin: auto;">{{getData[0].name}}  </h1><p style="width:20%;margin: auto;">by {{ getData[0].email }}</p>
    <p class="text-center p-3">{{ getData[0].content }}</p>
    <div class="card-body">
        <a class="card-link" (click)="likee(getData[0].id)" [ngStyle]="{'text-decoration':'none','color':'black'}"><i class="bi bi-heart" [ngStyle]="{'font-style':'bold'}"> {{getData[0].like}} Like</i></a>
        <a class="card-link cardii" (click)="commentClick()" ><i class="bi bi-chat"></i> Leave a comment</a>
      </div>
</div>
<form action="" class="shadow bg-white rounded p-4" [ngStyle]="{'display':flag==true?'none':'block'}" (ngSubmit)="commentSubmit()">
    <div class="form-outline mb-4">
        <input type="text" id="form6Example3" class="form-control" name="name" [(ngModel)]="name"/>
        <label class="form-label" for="form6Example3">Name</label>
    </div>
  
    <div class="form-outline mb-4">
        <textarea class="form-control" id="form6Example7" rows="4" name="comment" [(ngModel)]="comment"></textarea>
        <label class="form-label" for="form6Example7">Comment</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
</form>
<div class="box3 p-4 shadow bg-white rounded">
  <h3 class="mb-3">Comments</h3>
  <hr>
  <div *ngFor="let i of arr7">
    <h6>{{i.name}} <span class="din">{{i.date}}</span></h6>
    <p>{{i.comment}}</p>
    <hr>
    </div>
</div>
</div>
