<!-- 
<div class="container mt-5">
<form (ngSubmit)="onSubmit()" class="shadow p-5 mb-5 bg-white rounded">
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" name="title" class="form-control" [(ngModel)]="title"/>
      <label class="form-label" for="form6Example3">Title</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form6Example4" class="form-control" [(ngModel)]="image" name="image" />
      <label class="form-label" for="form6Example4">Image url</label>
    </div>
    <div class="form-outline mb-4">
      <input type="email" id="form6Example5" class="form-control" name="author" [(ngModel)]="author"/>
      <label class="form-label" for="form6Example5">Author</label>
    </div>
    <div class="form-outline mb-4">
      <input type="text" id="form6Example6" placeholder="ddmmyy" name="date" class="form-control" [(ngModel)]="date"  />
      <label class="form-label" for="form6Example6">Post date</label>
    </div>
    <div class="form-outline mb-4">
      <textarea class="form-control" id="form6Example7" rows="4" name="content" [(ngModel)]="content" ></textarea>
      <label class="form-label" for="form6Example7">Content</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">submit</button>
  </form>
</div> -->

<div class="successCard" [ngStyle]="{'display':flag==true?'none':'block'}">
  <h2>Your post is submitted successfully</h2> <br> Redirecting to Home page .....
</div>

<div class="my-3 container" [ngStyle]="{'filter':flag==true?'none':'blur(5px)'}">
  <h4>Add Blog</h4>
  <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="title"   class="form-label">Blog Title</label>
        <input type="text"  name="title" [(ngModel)]="title" class="form-control" id="title" >      
      </div>
      <div class="mb-3">
        <label for="desc"  class="form-label">Image URL</label>
        <input type="text" name="image" [(ngModel)]="image" class="form-control" id="content">
      </div>
      <div class="mb-3">
        <label for="content"  class="form-label">Author</label>
        <input type="text" name="author" [(ngModel)]="author" class="form-control" id="content">
      </div>
      <div class="mb-3">
        <label for="content"  class="form-label">Date</label>
        <input type="date" name="date" [(ngModel)]="date" class="form-control" id="content">
      </div>
      <div class="mb-3">
        <label for="content"  class="form-label">Content</label>
        <textarea type="text" name="content" [(ngModel)]="content" class="form-control" id="content"></textarea>
      </div>
      <button type="submit" class="btn btn-sm btn-primary">Add Blog</button>
    </form>
</div>




