.box{
    width: 800px;
    /* height: 1000px; */
    border:2px solid rgba(0,0,0,.125);
    margin-left:150px;
    margin-top: 30px;
}
.box2{
    width: 600px;
    height: 400px;
    border:1px solid rgba(0,0,0,.125);
    margin-left: 100px;
    margin-top: 50px;
}
img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.cardii{
    float: right;
    text-decoration: none;
}
/* .cardii:active{
    background-color:red;
} */
form{
    width: 800px;
    margin-left:150px;
    border:1px solid rgba(0,0,0,.125);
}
.box3{
    width: 800px;
    /* height: 1000px; */
    border:2px solid rgba(0,0,0,.125);
    margin-left:150px;
    margin-top: 30px;
}
.din{
    float:right;
    font-weight: 400;
    font-size: 12px;
}